
  body {
    font-family: 'Roboto', sans-serif; }

.text-center {
    text-align: center; }
  
  .text-right {
    text-align: right; }
  
  .text-muted {
    color: #777; }
  
  .cursor-pointer {
    cursor: pointer; }
  
  .disable-selection {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/ }



              /*SWEETALERT*/
    .swal2-styled.swal2-default-outline:focus {
      box-shadow: 0 0 0 3px rgb(255 255 255 / 100%)!important;
    }

  .swal2-styled.swal2-confirm:focus {
      box-shadow: 0 0 0 3px rgb(255 255 255 / 100%)!important;
  }

  .swal2-styled:focus {
      outline: 0;
  }

    .swal2-styled.swal2-confirm {
      border: 0px solid white;
      border-radius: .25em;
      background: initial;
      background-color: #ffffff!important;
      color: #fff;
      font-size: 1em;
      font-weight: 600;
      padding: 7px 0px;
    }

    .swal2-styled.swal2-confirm:hover{
      background-color: #333!important;
      color: #fff;
    }

    .swal2-styled.swal2-confirm a {
      text-decoration: none; 
      color: black; 
      border: 2px solid black; 
      padding: 10px 14px; 
      border-radius: .25em;
      font-weight: 600;
    }

    .swal2-styled.swal2-confirm a:hover{
      color: white!important;
    }

    .swal2-styled.swal2-cancel {
      border: 0;
      border-radius: .25em;
      background: initial;
      background-color: #555!important;
      color: #fff;
      font-size: 1em;
      padding: 8px 14px;
  }

  .swal2-actions {
    display: flex;
    z-index: 1;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%!important;
    margin: 2.25em auto 0!important;
    padding: 15px!important;

    border-top: 3px solid black!important; border-bottom: 3px solid black!important;
    border-left: 2px solid #888!important; border-right: 2px solid #888!important;
}

              /*SWEETALERT*/





    .calendario {
        position: relative;
        top: 265px;
    }

    .conteudo label{
      color: #fff;
      font-size: 24px;
      width: 800px;
      padding: 5px;
    }

    h4 {
      color: black;
      position: absolute;
      top: 30px;
      left: 415px;
      font-weight: 600!important;
      font-family: Calibri ;
      font-size: 30px!important;
    }
  
  .calendar, .calendar .add-event-day .add-event-day-field-btn, .calendar .calendar-days li:after {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  
  .calendar {
    background: white;
    width: 980px;
    height: 530px;
    border-radius: 10px;
    /*border: 2px solid black;*/
    overflow: hidden; 
  }

    .calendar .calendar-left-side-day-of-week, .calendar .current-day-events ul, .calendar .add-event-day, .calendar .calendar-change-year, .calendar .calendar-days li {
      position: relative; 
    }
    .calendar .calendar-left-side-day, .calendar .calendar-left-side-day-of-week, .calendar .current-day-events, .calendar .add-event-day-field-btn, .calendar .add-event-day-field {
      color: white; 
    }
    .calendar .calendar-left-side-day-of-week, .calendar .calendar-week {
      text-transform: uppercase; 
    }
    .calendar .calendar-left-side-month {
      color: white;
      text-transform: uppercase; 
      font-size: 20px;
      font-weight: 500;
    }
    .calendar .left-side {
      padding: 30px;
      height: 100%; 
      width: 320px;
      background: linear-gradient(180deg, #000 70%, #888 120%)!important;
      float: left; 
    }

    .calendar .calendar-left-side-day-of-week {
      padding-bottom: 30px;
      font-weight: 500;
      font-size: 20px;
    }

    .calendar .current-day, .calendar .current-day-events {
      padding-top: 0px; 
    }
    .calendar .current-day-events {
      position: relative;
      height: 215px; 
      top: 370px;
    }

    .current-day{
      margin-left: 70px;
    }
      .calendar .current-day-events div{
        font-weight: 600; 
        font-size: 18px;
        
      }
    .calendar .current-day-events ul {
      padding-left: 30px;
      list-style: none; 
    }

      .calendar .current-day-events ul li::before {
        content: '-';
        position: absolute;
        left: 3px; }
    .calendar h1.calendar-left-side-day {
      font-size: 92px; 
    }

    .calendar .add-event-day {
      border: 0px;
    }

      .calendar .add-event-day .add-event-day-field {
        border: none;
        background: transparent;
        height: 80px;
        width: 0%;
        font-size: 16px;
        padding-right: 30px; 
      }

      .calendar .add-event-day .add-event-day-field:focus {
        outline: none; }
      .calendar .add-event-day .add-event-day-field::placeholder {
        color: #ccc; }

        .calendar .add-event-day .add-event-day-field-btn {
          background-color: white;
          width: 200px;
          height: 50px;
          color: black;
          font-size: 20px;
          font-family: cursive;
          font-weight: 600;
          border: 1px solid black;
          padding: 0px 0px;
          margin-top: 10px;
          text-align: center;
          border-radius: 6px;
        }

        .calendar .add-event-day .add-event-day-field-btn:hover {
          background-color: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
          border: 1px solid rgb(255, 255, 255);
        }

    .calendar .right-side {
      width: 600px;
      padding-right: 80px;
      padding-top: 10px;
      padding-bottom: 20px;
      float: right; 
    }

    .calendar .calendar-change-year {
      font-size: 25px; }
      .calendar .calendar-change-year .calendar-change-year-slider {
        margin: 15px 0;
        color: #737373; }
      .calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
        color: #404040; }
    .calendar .calendar-days, .calendar .calendar-week, .calendar .calendar-month {
      list-style: none;
      font-size: 0; }
      .calendar .calendar-days li, .calendar .calendar-week li, .calendar .calendar-month li {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-size: 20px; }
    .calendar .calendar-month li {
      width: calc(460px / 12);
      height: 30px;
      line-height: 20px;
      color: #868686;
      margin-right: 40px;
      font-size: 18px; 
    }

      .calendar .calendar-month li.active {
        color: #000;
        font-size: 20px;
        font-weight: 600; 
      }

    .calendar .calendar-days li {
      width: calc(460px / 7);
      height: 50px;
      line-height: 50px; 
    }

      .calendar .calendar-days li:after {
        content: attr(data-day);
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #000000; }

      .calendar .calendar-days li.another-month:after {
        color: #b6b3b3; 
      }

      .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after, .calendar .calendar-days li.event-day:before, .calendar .calendar-days li.active-day:after {
        border-radius: 0%;
      }

      .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after {
        background: #898989;
        color: white; }
        
      .calendar .calendar-days li.event-day:before {
        content: ' ';
        width: 5px;
        height: 5px;
        position: absolute;
        top: 7px;
        right: 7px;
        background: blue; 
      }

      .calendar .calendar-days li.active-day:after {
        color: white;
        background: #000; 
        box-shadow: 0px 0px 0px 3px #fff;
      }

      .calendar .calendar-days li.active-day:hover {
        width: 50px;
        margin-left: 8px;
        margin-right: 7.8px;
        color: white;
        background: #000; 
        box-shadow: 0px 0px 0px 1px #000000;
      }
    
    
    .calendar .calendar-week {
      padding-top: 5px;
      margin-bottom: 5px;
      font-weight: 600;
      color: #000000;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; 
      
    }

      .calendar .calendar-week li {
        width: calc(460px / 7);
        height: 30px;
        line-height: 25px; 
      }

    .campoData {
      margin-top: 0px;
      width: 0px;
      color: transparent;
      background-color: transparent;
      border: transparent;
    }

    .agendamento {
      background-color: white;
      width: 275px;
      height: 50px;
      color: black;
      font-size: 20px;
      font-family: cursive;
      font-weight: 600;
      border: 1px solid black;
      padding: 0px 0px;
      margin-top: 0px;
      text-align: center;
      border-radius: 6px;
      margin-left: -7.5px;
      position: relative;
      bottom: 30px;
    }

    .agendamento:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 255, 255);
    }






















/* Parte Responsiva do Calendário MOBILE WEB */

@media screen and (max-width: 380px){

    .calendario {
      position: relative;
      top: 380px;
    }

    .calendar {
      width: 375px;
      height: 870px;
      background-color: #000000;
    }

    .conteudo label{
      color: #fff;
      font-size: 24px;
      width: 375px;
      padding: 5px;
      position: relative;
      bottom: 65px;
    }

    /* LADO ESQUERDO */
    .calendar .left-side {
      padding: 30px;
      height: 12%; 
      width: 100%;
      background: #000!important;
      float: none; 
    }
      /*background: linear-gradient(180deg, #000 70%, #888 120%)!important;*/


    /* DIA do Calendário */
    .calendar h1.calendar-left-side-day {
      position: absolute;
      top: -10px;
      left: 65px;
      font-size: 52px; 
    }

    .calendar .add-event-day .add-event-day-field-btn {
      position: absolute;
      top: 430px;
      background-color: white;
      height: 50px;
      color: black;
      border: 1px solid black;

    }

    /* MêS lado esquerdo */
    .calendar .calendar-left-side-month {
      position: absolute;
      top: 78px;
      left: -70px;
      text-align: center; 
      color: black;
      font-weight: 600;
    }

    /* Status Clinte NONE */
    .calendar .current-day-events div{
      color: #fff;
      font-size: 18px;
      position: relative;
      top: 355px;
      text-align: center;     
      
    }
    
    .calendar .current-day-events ul {
      color: transparent;
    }

    .agendamento {
      position: relative;
      top: 320px;
      left: 9%;
    }

    /* SEMANA do calendário PARTE DE CIMA MOBILE*/
    .calendar .calendar-left-side-day-of-week {
      position: absolute;
      left: -65px;
      top: 8px;
      font-size: 20px;
    }




    /* LADO DIREITO */
    .calendar .right-side {
      width: 380px;
      background-color: rgb(255, 255, 255);
      padding-right: 0px;
      padding-top: 10px;
      padding-bottom: 20px;
      float: none; 
    }

    .calendar .calendar-days li {
      width: calc(360px / 8);
      height: 40px;
      line-height: 40px; 
      font-size: 22px;
      margin-top: 15px;
      padding: 20px;
    }

    /* ANO do calendário */
    .calendar .calendar-change-year {
      position: absolute;
      font-size: 30px; 
      right: 25px;
      top: 17.5px;
    }

    /* MES do calendário */
    .calendar .calendar-month {
      margin-top: 40px;
      line-height: 40px;
    }

    .calendar .calendar-month li {
      width: calc(170px / 12);
      font-size: 22px; 
    }

    /* SEMANA do calendário */
    .calendar .calendar-week {
      padding-top: 5px;
      margin-bottom: 5px;
      padding-left: 35px;
      
    }

    .calendar .calendar-week li {
      width: calc(315px / 7);
      height: 30px;
      line-height: 25px; 
      font-size: 16px;
    }

    .pcs {
      height: 200px;
    }

}