@import url('https://font.giigkeapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');
*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    border: none;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:url('../img/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{ /*PARTE BRANCO DO FORMULÁRIO*/
    max-width: 700px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 25px 30px;
    border-radius: 1px;
    /*margin-left:50%;*/
    /*border-color: yellowgreen;*/
}
.container .title{
font-size: 25px;
font-weight: 500;  
position: relative;  

}

.title span
{
    color: #000000;
    font-weight: 500;
    font-size: 1.5em;
    left: 50%;
    
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 3%;
    background: linear-gradient(135deg,#ffffff ,#000000);
}

.container form .detalhes-usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px -10px 33px -10px;
}
form .detalhes-usuario .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.detalhes-usuario .input-box .detalhes{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.detalhes-usuario .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.detalhes-usuario .input-box textarea{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.detalhes-usuario .input-box input:focus,
.detalhes-usuario .input-box input:valid{
    border-color: #000000;
}

form   .p-viewer2{
/*
    position: relative;
    z-index: 1;
    font-size: 15px;
    color: rgb(250, 0, 0);
    margin: 30px 0 0 -70px;
 cursor:pointer;
*/
 right: 15px;
 position: relative;
 z-index: 1;
 font-size: 15px;
 color: #888;
 margin: 23px 0 0 -23px;
cursor:pointer;
}              
.fa-eye{
    margin-top: 16px;
}
#risco{
    display: none;
    margin-top: 16px;
}


form .genero  .seu-genero{
    font-size: 20px;
    font-weight: 500;
}
form .genero .categoria{
    display:inherit;
    width: 80%;
    margin: 10px 0;
    justify-content: space-between;
}
.genero .categoria label{
    display: flex;
    align-items: center;
}
.genero .categoria .ponto{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;

}
#ponto-1:checked ~ .categoria label .um,
#ponto-2:checked ~ .categoria label .dois{
    border-color: #d9d9d9;
    background: #000000;
}
form input[type="radio"]{
    display: none;
}
/*Nav*/
header
{
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    padding: 30px 100px!important;
    z-index: 10000!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    transition: 0.5s!important;
}

header.sticky /* Não pode espaço!!!*/
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo
{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    
}

header.sticky .logo /* Não pode espaço em "header.stick"!!!*/
{
    color: #111;
}

header .logo span
{
    color: #888;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none; /* Tira os pontinhos da lista ul */
    margin-left: 30px; /* Separa os itens da lista */
}

header .navigation li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-weight: bolder;
}

header.sticky .navigation li a
{
    color: #111;
    font-weight: bolder;
}

header .navigation li a:hover{
    color: #888;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

    .menuToggle
    {
        visibility: hidden;
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/menu.jpg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(../img/menu-close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1);
    }

::-webkit-scrollbar
{
	width: 6px;
	background-color: #fffdfd;
}

::-webkit-scrollbar-thumb
{
	background-color: #050505;
}


/*Codigo do botão*/
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}
.efeito-btn {
	color: rgb(0, 0, 0);
	transition: all 0.5s;
	position: relative;
}
.efeito-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(163, 159, 159, 0.39);
	transition: all 0.3s;
}
.efeito-btn:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.efeito-btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid #000000;
	transform: scale(1.2,1.2);
}
.efeito-btn:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
    

@media (max-width: 584px){
    .container { /*PARTE BRANCO DO FORMULÁRIO*/
        max-width: 100%;
        position: fixed;
        /*margin-left:100% ;*/
}
form .detalhes-usuario .input-box{
    margin-bottom: 15px;
    width:100%;
}


.p-viewer2{
    /*
    float: right;
    margin-top: -3px;
    position: relative;
    z-index: 1;
    cursor:pointer;
    color: red;
    */
    right: 10px;
    position: relative;
    
    z-index: 1;
    font-size: 15px;
    color:#888;
    margin: 23px 0 0 -30px;
 cursor:pointer;
  }
.fa-eye{
    margin-top: 16px;
}
form .genero .categoria{
    width: 100%;
}

form .btn{
    margin-bottom: 70px;
}
.container form .detalhes-usuario{
    max-height: 345px;
    overflow-y: scroll;
}
/*
form .input-box i{
    position: absolute;
    font-size: 25px;
    color: rgb(255, 0, 0);
    margin: 15px 0 0 -30px; 
     overflow-y: auto;
  
}              
i.fa-eye{
    margin-top: 16px;
}*/

.detalhes-usuario::-webkit-scrollbar{
    width: 0;
}

}

.whatsapp-link
{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000000;
}

.fa-whatsapp
{
    margin-top: 10px;
}


@media (max-width: 704px)
{
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 65px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li
    {
        margin-left: 0
    }
    header .navigation li a
    {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }
    .menuToggle
    {
        visibility: visible;
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/menu.jpg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(../img/menu-close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2
    {
        font-size: 3em;
        color: #fff;
    }
    .row
    {
        flex-direction: column;
    }
    .row .col150
    {
        position: relative;
        width: 100%;
        text-align: justify;
    }
    .row .col150 .imgBx
    {
        height: 300px;
        margin-top: 20px;
    }
    .menu .content
    {
        margin-top: 20px;
    }
    .menu .content .box
    {
        margin: 10px; 
    }
    .menu .content .box .imgBx
    {
        height: 299px;
    }
    .title
    {
        text-align: left;
    }
    .titleText
    {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .feedbacks .content .box
    {
        margin: 10px;
        padding: 20px;
    }
    .contactForm
    {
        padding: 65px 31px;
        margin-top: 24px;
        margin-bottom: 48px;
    }
}