@import url('https://font.giigkeapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');

*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.whatsapp-link
{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000000;
}

.fa-whatsapp
{
    margin-top: 10px;
}

p
{
    font-weight: 300;
    color: #111;
}

/*body
{
    min-height: 1000px;
}*/

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fundo-login.jpg);
    background-size: cover;
}

.banner .content
{
    max-width: 900px;
    text-align: center;
}

.banner .content h2
{
    font-size: 5em;
    color: #fff;
}

.banner .content p
{
    font-size: 2.5em;
    color: #fff;
}




header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky /* Não pode espaço!!!*/
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo
{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo /* Não pode espaço em "header.stick"!!!*/
{
    color: #111;
}

header .logo span
{
    color: #888;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none; /* Tira os pontinhos da lista ul */
    margin-left: 30px; /* Separa os itens da lista */
}

header .navigation li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-weight: bolder;
}

header.sticky .navigation li a
{
    color: #111;
    font-weight: bolder;
}

header .navigation li a:hover{
    color: #888;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #fffdfd;
}

::-webkit-scrollbar-thumb
{
	background-color: #050505;
}










section
{
    padding: 100px;
}

.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col150
{
    position: relative;
    width: 60%;
    font-size: 1.5em;
}

.titleText
{
    color: rgb(75, 72, 72);
    font-weight: 300;
    margin-bottom: 20px;
    font-weight: bolder;
}

.titleText span
{
    color: #111011;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col150 .imgBx
{
    position: relative;
    width: 100%;
    min-height: 900px; /*Altura da imagem*/
    /*height: 100%;*/
}

.row .col150 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}











.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}

.title p
{
    font-size: 1.01em;
}

.menu .content 
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box /*Tamanho das imagens dos Cortes*/
{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.89);
}

.menu .content .box .imgBx /*Tamanho das caixas das imagens dos Cortes*/
{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*Faz as imagens entrarem na caixa*/
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text
{
    padding: 15px 0 5px;
    text-align: center;
}

.menu .content .box .text h3
{
    font-weight: bolder;
    color: #111;
}












.salao .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.salao .content .box
{
    width: 250px;
    margin: 15px;
}

.salao .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}

.salao .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*Faz as imagens entrarem na caixa*/
    height: 100%;
    object-fit: cover;
}

.salao .content .box .text
{
    padding: 15px 0 5px;
}

.salao .content .box .text h3
{
    font-weight: 600;
    font-size: 0.7em;
    color: #111;
}












.feedbacks
{
    background: url(/img/feedback.jpg);
    background-size: cover;
}

.white .titleText,
.white p
{
    color: #fff;
}

.feedbacks .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.feedbacks .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.feedbacks .content .box .imgBx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.feedbacks .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*Faz as imagens entrarem na caixa*/
    height: 100%;
    object-fit: cover;
}

.feedbacks .content .box .text
{
    text-align: center;
}

.feedbacks .content .box .text p
{
    color: #666;
    font-style: italic;
}

.feedbacks .content .box .text h3
{
    margin-top: 20px;
    color: #111;
    font-size: 1.5em;
    color: #888;
    font-weight: 600;
}









.contato
{
    background-color: #fcfcfc;
    /* background-size: cover; */
}

.contactForm
{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.9);
    max-width: 500px;
    margin-top: 50px;
}

.contactForm h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #888;
    display: inline-block;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}




.copyrightText
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.copyrightText p
{
    color:#333;
}

.copyrightText a
{
    color:#888;
    font-weight: 500;
    text-decoration: none;
}



                    /* PARTE MOBILE */


@media (max-width: 991px)
{
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li
    {
        margin-left: 0
    }
    header .navigation li a
    {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.jpg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(/img/menu-close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2
    {
        font-size: 3em;
        color: #fff;
    }
    .row
    {
        flex-direction: column;
    }
    .row .col150
    {
        position: relative;
        width: 100%;
        text-align: justify;
    }
    .row .col150 .imgBx
    {
        height: 300px;
        margin-top: 20px;
    }
    .menu .content
    {
        margin-top: 20px;
    }
    .menu .content .box
    {
        margin: 10px; 
    }
    .menu .content .box .imgBx
    {
        height: 299px;
    }
    .title
    {
        text-align: center;
    }
    .titleText
    {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .feedbacks .content .box
    {
        margin: 10px;
        padding: 20px;
    }
    .contactForm
    {
        padding: 65px 31px;
        margin-top: 24px;
        margin-bottom: 48px;
    }
}

@media (max-width: 480px)
{   
    .banner .content h2
    {
    font-size: 2.2em;
    color: #fff;
    }
}
