/*Reset - Configurações padrões para o css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    border: none;
    color: rgb(0, 0, 0);
}
/*Retirando as bordas padrões do navegador*/
textarea:focus, input:focus{
    outline: none;
}

/*Propriedade do Body*/
body{
     background-image: linear-gradient(to right, rgb(34, 34, 34) , rgb(0, 0, 0));
     margin-top: 10%;
}

/*Imagem do Body*/
.logo{
    width: 500px;
    margin-top: 7vw;
}

/*Especificando os A*/
a {
    font-size: .8rem;
}

a:hover {
    color: #8686;
}

/*Classe para a imagem*/
.imagem {
    width: 280px;
    padding-right: 5px;
    padding-left: 6px;
    padding-bottom: 5px;
}

/*Login*/
#senhafuncionario{
    background-color: #ffffff;
    width: 350px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    margin-top: 5vw;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 2px 6px #8888;
}

/*Formulario de cadastro*/
form{
    margin-top: 30px;
    margin-bottom: 50px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
    font-size: 1.1rem;
}

input{
    border-bottom: 2px solid #8686;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid black;
}

/*Codigo do botão*/
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.efeito-btn {
	color: rgb(0, 0, 0);
	transition: all 0.5s;
	position: relative;
}
.efeito-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(163, 159, 159, 0.39);
	transition: all 0.3s;
}
.efeito-btn:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.efeito-btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid #000000;
	transform: scale(1.2,1.2);
}
.efeito-btn:hover::after {
	opacity: 1;
	transform: scale(1,1);
}