@import url('https://font.giigkeapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');

*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.whatsapp-link
{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000000;
}

.fa-whatsapp
{
    margin-top: 10px;
}

p
{
    font-weight: 300;
    color: #111;
}

header
{
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}


header .logo
{
    color: #000;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    margin-top: -10px;
}

header .logo:hover
{
    color: #868686;
}

header.sticky .logo /* Não pode espaço em "header.stick"!!!*/
{
    color: #111;
}

header .logo span
{
    color: #868686;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none; /* Tira os pontinhos da lista ul */
    margin-left: 30px; /* Separa os itens da lista */
    margin-top: 15px;
}

header .navigation li a
{
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-weight: bolder;
}

header.sticky .navigation li a
{
    color: #111;
    font-weight: bolder;
}

header .navigation li a:hover{
    color: #868686;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #fffdfd;
}

::-webkit-scrollbar-thumb
{
	background-color: #050505;
}













.titleText {
    position: relative;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    font-weight: bolder;
    top: -50px;
    left: 42%;
    width: 100px;
}

.titleText span {
    color: #000;
    font-weight: 700;
    font-size: 1.5em;
}

.agenda {
    position: relative;
    background-color: #333;
    width: 100%;
    height: 650px;
}

.PainelAG {
    position: relative;
    width: 0%;
    height: 0px;
    left: 14%;
    top: -25px;
    border-radius: 4px;

}

@media screen and (min-width: 1590px){
    .PainelAG {
        left: 290px;
        width: 1000px;
    }
}



.copyrightText
{
    background-color: #333;
    padding: 8px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

.copyrightText p
{
    color:#fff;
}

.copyrightText a
{
    color:#000;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}








/* MODAL AGENDAMENTO */
.cabecalhoModal {
    background-color: #868686;
}

.cabecalhoModal h3{
    color: white;
    
}

.btn-close {
    position: absolute;
    font-size: 25px;
    right: 20px;
    background-color: white;
}

.tituloAgend {
    padding-bottom: 5px; 
    padding-top: 5px; 
    font-size: 30px; 
    background-color: #868686;
    text-align: center;
    color: white;
    
}

select.form-control {
    background-color: #868686;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.cliqueAqui {
    color: black;
    position: relative;
    font-size: 2px;

}





/* Parte 02 do Formulário Style */

.formulario{
    border: 2px solid black; 
    background-color: rgba(0, 0, 0, 0.5);
    width: 900px;
    margin-left: 88px;
    margin-bottom: 30px;
}

.campoForm2 label{
    color: #fff;
    font-size: 22px;
}

.campoForm2 input{
    color: black;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 0px 0px 0px 5px;
    width: 325px;
    margin-bottom: 10px;
}

/* Responsivo Form.prt2 */
@media screen and (max-width: 380px){
    #exampleModal {
        margin-bottom: 10px;
    }

    .formulario{
        width: 280px;
        margin-left: -5px;
    }

    .campoForm2 label{
        font-size: 18px;
    }

    .campoForm2 input{
        font-size: 18px;
        width: 225px;
        margin-bottom: 10px;
    }
}


.footer {
    height: 80px;
    padding: /*top*/15px /*left*/10px /*bottom*/15px /*rigth*/150px;
}

@media screen and (max-width: 380px){
    .footer {
        height: 170px;
        padding: /*top*/25px /*left*/10px /*bottom*/25px /*rigth*/15px;
    }
}

/*Codigo do botão*/
.btn {
line-height: 0px;
height: 50px;
text-align: center;
width: 250px;
cursor: pointer;
font-size: 18px;
}


.efeito-btn {
color: rgb(0, 0, 0);
transition: all 0.5s;
position: relative;
margin-right: 15px;
margin-left: 35px;

}

@media screen and (max-width: 380px){
    .efeito-btn {
        margin-right: 0px;
        margin-left: 0px;     
    }

    .btn {
        margin-top: 15px;
    }
}

.efeito-btn::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(0, 0, 0, 0.2);
/*background-color: #ff0157;*/
transition: all 0.3s;

}

.efeito-btn:hover::before {
opacity: 0 ;
transform: scale(0.5,0.5);

}

.efeito-btn::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border: 1px solid #000;
transform: scale(1.2,1.2);


}

.efeito-btn:hover::after {
opacity: 1;
transform: scale(1,1);

}

