
.cabecalhoModal {
    background-color: #868686;
}

.cabecalhoModal h3{
    color: white;
    
}

.btn-close {
    position: absolute;
    font-size: 25px;
    right: 20px;
    background-color: white;
}

.tituloAgend {
    padding-bottom: 5px; 
    padding-top: 5px; 
    font-size: 30px; 
    background-color: #868686;
    text-align: center;
    color: white;
    
}

select.form-control {
    background-color: #868686;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}



