@import url('https://font.giigkeapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');

*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.whatsapp-link
{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000000;
}

.fa-whatsapp
{
    margin-top: 10px;
}

p
{
    font-weight: 300;
    color: #111;
}

header
{
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}


header .logo
{
    color: #000;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    margin-top: 0px;
}

header .logo:hover
{
    color: #868686;
}

header.sticky .logo /* Não pode espaço em "header.stick"!!!*/
{
    color: #111;
}

header .logo span
{
    color: #868686;
}

header .navigation
{
    position: relative;
    display: flex;
    left: 70px;
}

header .navigation li
{
    position: relative;
    top: 10px;
    left: -10px;
    list-style: none; /* Tira os pontinhos da lista ul */
    margin-left: 30px; /* Separa os itens da lista */
    margin-top: 12px;
}

header .navigation li a
{
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-weight: bolder;
}

header.sticky .navigation li a
{
    color: #111;
    font-weight: bolder;
}

header .navigation li a:hover{
    color: #868686;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #fffdfd;
}

::-webkit-scrollbar-thumb
{
	background-color: #050505;
}

.dados{
    position: relative;
    top: -20px;

}

.notification-list{
    display: flex;

    background-color: #fff!important;
    padding: 7px;

    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: -22.5px;

    border: 2px solid #888!important;
    border-bottom: 1px solid #000!important;
    border-top: 1px solid #000!important;
    color: #000!important;
    
}

span.account-user-name{
    color: #000;
    margin-right: 4px;
}

span.account-position{
    border: 1px solid transparent;
    border-left: 2px solid #000;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 8px;
    color: #000!important;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #888!important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #000!important;
}

.SairDiv{
    position: relative;
    width: 100%;
    height: 35px;
    top: 0px;
    background-color:#888 ;
}

.SairLogin{
    position: relative;
    top: 5px;
    text-decoration: none; 
    color: #fff!important; 
    padding-left: 15px;

}

.SairLogin :hover{
    color: black;
    font-weight: 600;
}











.titleText {
    position: relative;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    font-weight: bolder;
    top: -50px;
    left: 42%;
    width: 100px;
}

.titleText span {
    color: #000;
    font-weight: 700;
    font-size: 1.5em;
}

.agenda {
    position: relative;
    background-color: #333;
    width: 100%;
    height: 650px;
    top: -100px;
}

.nome_agendamento{
    color: #fff;
    font-size: 20px;
  }

.PainelAG {
    position: relative;
    width: 0%;
    height: 0px;
    left: 14%;
    top: -25px;
    border-radius: 4px;

}

@media screen and (min-width: 1590px){
    .PainelAG {
        left: 290px;
        width: 1000px;
    }
}

@media screen and (max-width: 380px){

    .agenda {
        height: 1050px;
    }

    .titleText {
        left: 30%;
        margin-top: 0px;
        padding-bottom: 50px;
    }

    .PainelAG {
        left: 0%;
    }
}

.copyrightText
{
    background-color: #333;
    padding: 8px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

.copyrightText p
{
    color:#fff;
}

.copyrightText a
{
    color:#000;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}








/* MODAL AGENDAMENTO */
.escolhaSexo {
    margin-bottom: 20px;
}

.escolhaSexo label {
    margin-top: 5px;
}

/* Botões STYLE AQUI!! */
/* 2° Sessão */
section.season2-ryzen5 {
    position: relative;
    background-color: #fff; 
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.img-s2 {
    position: relative;
    width: 100%;
    top: -11.6px;
    margin-top: 11.6px;
    margin-bottom: 40px;
    display: block;
    justify-content: space-between;
    cursor: pointer;
}

.btn2 {
    position: absolute;
    top: 52px;
    left: 50px;
}

.text-ryzen5 {
    position: relative;
    display: block;
    width: 98%;
    margin-left: 1%;
}

.text-ryzen5 h2{
    color: #fff;
    height: 100px;
    position: relative;
    text-align: end;
    margin: -11.6px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding-top: 35px;
    padding-right: 50px;
    top: 12px;
    font-family: 'Calibri';
    font-size: 30px;
}

.text-ryzen5 img {
    position: relative;
    height: 105px;
    width: auto;
    top: 289px;
    right: 390px;
    margin: 0px;
}

.hidden5{
    position: unset;
    display: none;
    text-align: center;
    margin: 50px 50px 25px 50px;
    /* margin: TOP -- RIGTH -- BOTTOM -- LEFT */
    cursor: auto;
}

div.mostrar-011{
    display: flex;
    padding-top: 0px;
}

div.mostrar-011 p{
    color: #fff;
    text-align: justify;
    padding: 0px 0px 0px 50px;
    font-family: 'Calibri';
    font-size: 20px;
}

.masculino {
    position: absolute;
    width: 220px;
    height: 50px;
    border-radius: 8px;
    border: 3px solid #fff;
    color: white;
    background: #333; 

    font-size: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    top: 35px;
}

.masculino:hover {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px #333;
}

.feminino {
    position: absolute;
    width: 220px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 8px;
    color: white;
    background: #333; 

    font-size: 24px;
    margin-bottom: 5px;
    align-items: unset;
    top: 35px;
}

.feminino:hover {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px #333;
}

.text-center{
    position: absolute;
    top: 35px;
}


.tituloAgend {
    padding-bottom: 5px; 
    padding-top: 5px; 
    font-size: 30px; 
    background-color: #000;
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

.salaoMasculino, .combosMasc, .belezaFeminina {
    width: 100%;
    height: 230px;
    border: 1px solid black;
}

select.form-control {
    background-color: #868686;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.cliqueAqui {
    color: black;
    position: relative;
    font-size: 2px;

}





/* Parte 02 do Formulário Style */
#myList li{display: none; list-style: none;}

#loadMore{
    color: #ffffff;
    cursor: pointer;
    background-color: black;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
}

#loadMore:hover{
    color: #888;
}

#showLess{
    color: #ffffff;
    cursor: pointer;
    display: none;
    background-color: black;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
}

#showLess:hover{
    color: #888;
}

.formulario{
    border: 2px solid black; 
    background-color: rgba(0, 0, 0, 0.5);
    width: 900px;
    /*margin-left: 200px;*/
    margin-bottom: 30px;
    
}

.campoForm2 label{
    color: #fff;
    font-size: 22px;
}

.campoForm2 input{
    position: static;
    color: black;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 0px 0px 0px 5px;
    width: 325px;
    margin-bottom: 10px;
}

.barreira {
    position: relative;
    background-color: rgb(0, 0, 0, 0.35);
    width: 325px;
    height: 36px;
    top: 68px;
}

.funcionario {
    margin-top: -25px;
    margin-bottom: 25px;

}

/* Responsivo Form.prt2 */
@media screen and (max-width: 380px){
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li
    {
        margin-left: 0
    }
    header .navigation li a
    {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }

    .notification-list{
        display: none;
    }

    .nav-link {
        display: none;
    }

    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.jpg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(/img/menu-close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1);
    }

    #exampleModal {
        margin-bottom: 10px;
    }



    section.season2-ryzen5 {
        margin-top: -30px;
    }    

    .formulario{
        width: 320px;
        margin-left: 22px;
        margin-top: 20px;
    }

    .campoForm2 label{
        font-size: 18px;
    }

    .campoForm2 input{
        font-size: 18px;
        width: 245px;
        margin-bottom: 10px;
    }

    .barreira {
        width: 245px;
        height: 31.75px;
        top: 58.75px!important;        
    }

    .escolhaSexo {
        margin-left: 20px;
    }

    .escolhaSexo label {
        text-align: none;
        margin-bottom: 15px;
        margin-top: 0px;
        margin-left: -20px;
    }

    .salaoMasculino, .combosMasc, .belezaFeminina {
        height: 180px;
        margin-top: 10px;
    }

    .masculino {
        margin-left: -8%;
        margin-top: 0px;
    }

    .feminino {
        margin-left: 8%;
        margin-top: 70px;
    }

    .img-s2 {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .text-ryzen5 h2 {
        height: 165px;
    }
}

div.botaoCancelar {
    margin-top: -125px;
    background-color: #333;
    width: 100%;
    height: 190px;
    text-align: center;
    
}

a.CancelarAgendamento {
    position: relative;
    width: 200px;
    height: 100px;
    padding: 15px 15px 15px 15px;
    top: 50px;


    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;

    border-radius: 8px;
    border: 5px solid #333;
}

a.CancelarAgendamento:hover {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px #ffffff;
}

.footer {
    height: 80px;
    padding: /*top*/15px /*left*/10px /*bottom*/15px /*rigth*/150px;
    margin-bottom: 15px;
}

@media screen and (max-width: 380px){

    div.botaoCancelar {
        margin-top: -225px;    
        height: 150px; 
    }
    
    a.CancelarAgendamento {
        bottom: 90px;
    }

    .footer {
        height: 170px;
        padding: /*top*/25px /*left*/10px /*bottom*/25px /*rigth*/15px;
    }
}

/*Codigo do botão*/
.btn {
line-height: 0px;
height: 50px;
text-align: center;
width: 250px;
cursor: pointer;
font-size: 18px;
}


.efeito-btn {
color: rgb(0, 0, 0);
transition: all 0.5s;
position: relative;
margin-right: 15px;
margin-left: 35px;

}

@media screen and (max-width: 380px){
    .efeito-btn {
        margin-right: 0px;
        margin-left: 0px;     
    }

    .btn {
        margin-bottom: 20px;
        margin-left: 5px;
    }
}

.efeito-btn::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(0, 0, 0, 0.2);
/*background-color: #ff0157;*/
transition: all 0.3s;

}

.efeito-btn:hover::before {
opacity: 0 ;
transform: scale(0.5,0.5);

}

.efeito-btn::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border: 1px solid #000;
transform: scale(1.2,1.2);


}

.efeito-btn:hover::after {
opacity: 1;
transform: scale(1,1);

}

